<ion-header>
  <ion-navbar>
    <ion-title>
      Catafix
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="newElement()">
        <ion-icon name="add"></ion-icon>
      </button>
	  <button ion-button icon-only (click)="profile()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>	
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-searchbar
  [(ngModel)]="myInput"
  [showCancelButton]="shouldShowCancel"
  (ionInput)="onInput($event)"
  (ionCancel)="onCancel($event)">
</ion-searchbar>
  <div *ngFor="let element of stream | async">
    <ion-card *ngIf="element.userid !== user.uid">
      <img src="{{element.bookimg}}"/>
      <ion-card-content>
        <ion-card-title>
          {{ element.titleimg }}
          </ion-card-title>
        <p>
          {{ element.descrpimg }}
        </p>
        <div *ngIf="element.trades !== undefined">
          <button ion-button color="secondary" outline (click)="tradeWithUser(element.$key)" *ngIf="element.trades[user.uid] === undefined"><ion-icon name="checkbox-outline"></ion-icon> Trade</button>
           <button ion-button color="dark" *ngIf="element.trades[user.uid] !== undefined" (click)="tradeWithUser(element.$key)"><ion-icon name="checkbox-outline"></ion-icon> Traded</button>
        </div>

         <div *ngIf="element.trades === undefined">
          <button ion-button color="secondary" outline (click)="tradeWithUser(element.$key, element.titleimg)"><ion-icon name="checkbox-outline"></ion-icon> Trade</button>
        </div>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
